<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Finance Plugin</label>
    <label lang="de">Finanz-Plugin</label>

    <version>1.4.2</version>
    <copyright>(c) Divido Financial Services</copyright>
    <author>Divido Financial Services</author>
    <link>http://www.divido.com</link>

    <compatibility minVersion="5.2.13"/>
    <description>
        <![CDATA[
        <b>Finance Plugin</b>
        <p>A global finance platform for merchants, giving customers the option to break down their online purchases
        into more manageable chunks by seamlessly connecting the checkout process to a wide range of finance
        providers via the "Powered By Divido" lender platform.</p>
        ]]>
    </description>
    <description lang="de">
        <![CDATA[
        <b>Finance Plugin</b>
        <p>Eine globale Finanzplattform für Händler, mit der Kunden die Möglichkeit haben, ihre Online-Einkäufe
        in übersichtlichere Abschnitte zu unterteilen, indem der Kaufvorgang über die Kreditgeberplattform
        "Powered By Divido" nahtlos mit einer Vielzahl von Finanzdienstleistern verbunden wird.</p>
        ]]>
    </description>
    <changelog version="1.4.3">
        <changes>
            <![CDATA[
            <ul>
            <li>Config translated to German</li>
            <li>Translations import on installation</li>
            </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            <ul>
            <li>Config ins Deutsche übersetzt</li>
            <li>Übersetzungen werden bei der Installation importiert</li>
            </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.4.2">
        <changes>
            <![CDATA[
            <ul>
            <li>Standard suffixes applied to tables</li>
            <li>Take into account consent from merchant when removing data on uninstall</li>
            <li>Add plugin description and change log</li>
            <li>Format and lint PHP code</li>
            </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            <ul>
            <li>Auf Tabellen angewendete Standardsuffixe</li>
            <li>Berücksichtigen Sie die Zustimmung des Händlers, wenn Sie Daten bei der Deinstallation entfernen</li>
            <li>Füge eine Beschreibung des Plugins hinzu und ändere das Log</li>
            <li>Formatieren und fusseln Sie den PHP-Code</li>
            </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.4.1">
        <changes>
            <![CDATA[
            <ul>
            <li>The finance payment option is deactivated if the API key is incorrect</li>
            <li>Stricter initial validation of the API Key</li>
            </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            <ul>
            <li>Die Zahlungsoption Finanzen ist deaktiviert, wenn der API-Schlüssel falsch ist</li>
            <li>Strengere Erstvalidierung des API-Schlüssels</li>
            </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.4.0">
        <changes>
            <![CDATA[
            <ul>
            <li>Cancellations webhooks now fire when an order's status is set to "cancelled/rejected"</li>
            <li><i>Activate On Status</i> option added to the plugin config</li>
            <li>Activation webhooks now fire when an order's status corresponds to the set <i>Activate On Status</i> config option</li>
            <li><i>Limit Plans</i> multi-select feature added to the config</li>
            </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            <ul>
            <li>Webhooks für Stornierungen werden jetzt ausgelöst, wenn der Status einer Bestellung auf "Storniert / Abgelehnt" gesetzt ist.</li>
            <li>Die Option "Bei Status aktivieren" wurde zur Plugin-Konfiguration hinzugefügt</li>
            <li>Aktivierungswebhooks werden jetzt ausgelöst, wenn der Status einer Bestellung der festgelegten Konfigurationsoption "Bei Status aktivieren" entspricht</li>
            <li>Die Mehrfachauswahlfunktion "Pläne begrenzen" wurde zur Konfiguration hinzugefügt</li>
            </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.3.1">
        <changes>
            <![CDATA[
            Fixed an issue with the status not getting updated by webhooks
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            Es wurde ein Problem behoben, bei dem der Status von Webhooks nicht aktualisiert wurde
            ]]>
        </changes>
    </changelog>
    <changelog version="1.3.0">
        <changes>
            <![CDATA[
            Added cancel functionality
            ]]>
        </changes>
        <changes>
            <![CDATA[
            Abbruchfunktion hinzugefügt
            ]]>
        </changes>
    </changelog>
    <changelog version="1.2.0">
        <changes>
            <![CDATA[
            Added refund functionality
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            Funktion zur Rückerstattung hinzugefügt
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.0">
        <changes>
            <![CDATA[
            <ul>
            <li>Added activation functionality</li>
            <li>Replaced deprecated logger code</li>
            </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            <ul>
            <li>Aktivierungsfunktion hinzugefügt</li>
            <li>Ersetzter veralteter Logger-Code</li>
            </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.0">
        <changes>
            <![CDATA[
            Initial Release
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            Erstveröffentlichung
            ]]>
        </changes>
    </changelog>
</plugin>
